<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="box">
          <h2 id="order">Order successful</h2>
          <a class="btn btn-success" href="/order">Go to order</a>
        </div>
      </div>
      
</body>
</html>
<style>
    .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  #order{
    color: rgb(69, 69, 150);
    text-shadow: #9b1f1f;
    
  }
  
</style>